<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="<%= ['admonitionblock',(attr :name),role].compact * ' ' %>">
<img class="icon icon-<%= (attr 'name') %>" src="/fa-icons/<%= (attr 'name') %>.svg" /><%
if title? %>
<div class="title"><%= title %></div><%
end %>
<%= content %>
</div>
